pre.term {
  border-radius: 10px;
  background-color: rgba(0,75,84, 1);
  code.ps {
    color: #76FF00;
    background-color: rgba(0,75,84, 1);
    text-shadow: 0 0 3px #7666ff;
    font-family: 'mononoki';
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
  }
}
